*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #16A086;
    height: 100%;
    font-family: "Arial", sans-serif;
}

.info__div{
    background-color: #fff;
    margin: 100px auto auto auto;
    background-image: url(./images/bicycle.png);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: top 190px center;
    height: 400px;
    width: 700px;
    border-radius: 5px;
}

.about-div{
    margin: 0 auto;
    
    width: 500px;
    height: 300px;
}

.info-div{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.info-strong{
    font-size: 48px;
}

.info-button{
    text-decoration: none;
    background-color: #fff;
    width: 33px;
    height: 33px;
    border: 1px solid black;
    border-radius: 50% ;
    padding: 5px;
    text-align: center;
}

.info-text{
    margin-top: 15px;
    color: rgb(87, 77, 77);
}

.info-list{
    list-style: none;
}

/* .info-list > p :nth-child(2n+1){
    font-size: 40px;
} */


.info-item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-text2{
    color: rgb(31, 21, 21);
}

.info-span{
    font-size: 20px;
}